.all {
    position: relative;
    display: inline-block;
    margin: 10px 10px 3px 10px;
  }
  
  /* ---CARDCONTAINER--- */
  .cardContainer {
    border-radius: 10px;
    border: 1px solid #00263e;
    background-color: #414653; 
    color: #a7f59b;
    max-width: 260px;
    max-height: auto;

    /* overflow: hidden; */
    
    
  }
.cardContainer img {
  width: 260px;
  height: 250px;
}

  .cardContainer:hover .title {
    /* margin-top: -175px; */
    /* filter: opacity(0.5); */
  }
 

  
  /* ---CARDCONTAINER--- */
  
  
  
  .title {
    text-align: center;
    max-height: 20px;
    min-height: 20px;
    font-size: 1em;
    font-family: 'Courier New';
    letter-spacing: 1px;
  }
  .cardInfo {
    display: none;
    color: #ffffff;
    font-family: 'Courier New';
    font-size: 1ch;
  }