body {
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Sans", Arial;
}

/* FONDO */
.all {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background,
.image {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.background {
  right: 0;
  background-color: #181a1d;
  width: 100%;
}

.image {
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.91)),
    url("./img/fondoPerro.jpg");
  background-size: cover;
  /* background-position-x: -75px; */
  width: 50%;
}

/* BIENVENIDA */
.bienvenida {
  width: 50%;
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.bienvenida h1 {
  margin: 5px;
}
.bienvenida p {
  width: 70%;
  flex-wrap: wrap;
  font-size: 1ch;
  margin-bottom: 20px;
}

.bienvenida button {
  padding: 10px 20px;
  border: none;
  background-color: #a7f59b;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.bienvenida button:hover {
  background-color: #b7faad;
}

.logoPrincipal {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.logoPrincipal img {
  background: linear-gradient(to right, #ffffff, #e5f5fa);
  border-radius: 50%;
  padding: 20px;
  transform: scale(0.7);
  max-width: 100px;
}
.chuleta {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 0.5em;
  /* text-align: center; */
}
.chuleta img {
  width: 25px;
  margin-right: 10px;
}
.chuleta a {
  color: #a7f59b;
  text-decoration: none;
}

.landingCardContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 1280px) {
  .image {
    background-position-x: -100px;
  }
}

@media screen and (max-width: 800px) {
  .logoPrincipal {
    display: none;
  }
  .landingCardContainer {
    display: none;
  }
  .background {
    display: none;
  }
  .image {
    width: 100%;
    height: 100dvh;
  }
  .bienvenida {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 90vh;
    width: 100%;
    position: unset;
    transform: none;
  }
  .bienvenida p {
    width: 90%;
  }
  .chuleta {
    position: inherit;
    justify-content: center;
  }
}
